html,
body {
  margin: 0;
}
body {
  background: #ccc;
}
.container {
  margin: 50px auto;
  width: 600px;
}
#guesshistory {
  margin: 10px 0;
}
#secret {
  visibility: hidden;
  display: none;
}
.letter{
  color: white;
  padding: .25em;
  font-size: 2em;
  line-height: 2em;
}
.green{
  background-color: lightgreen;
}
.yellow{
  background-color: gold;
}
.gray{
  background-color: lightgrey;
}
